In [10]:
import pandas as pd

boston = pd.read_csv('./datasets/boston.csv', index_col=0)
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [11]:
features = boston.drop(['medv'], axis=1)
label = boston['medv']

In [12]:
features.head(2)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.9,4.98
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14

In [13]:
label.head(2)

1    24.0
2    21.6
Name: medv, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(features , label ,test_size=0.2, random_state=0)

In [15]:
from sklearn.preprocessing import MinMaxScaler

X_train_scaled = MinMaxScaler().fit_transform(X_train)
X_test_scaled = MinMaxScaler().fit_transform(X_test)

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

lr = LinearRegression()
lr.fit(X_train ,y_train)
y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print('mse:',round(mse, 3), 'rmse:', round(rmse, 3))
print('R2 score:', round(r2_score(y_test, y_preds)))
print('ì ˆíŽ¸:',lr.intercept_)
print('íšŒê·€ ê³„ìˆ˜:', np.round(lr.coef_, 1))

mse: 33.449 rmse: 5.784
R2 score: 1
ì ˆíŽ¸: 38.091694926303
íšŒê·€ ê³„ìˆ˜: [ -0.1   0.    0.    2.3 -16.1   3.7  -0.   -1.4   0.2  -0.   -1.    0.
  -0.5]

In [21]:
features.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat'],
      dtype='object')

In [23]:
pd.DataFrame(lr.coef_, index=features.columns)

                 0
crim     -0.119443
zn        0.044780
indus     0.005485
chas      2.340804
nox     -16.123604
rm        3.708709
age      -0.003121
dis      -1.386397
rad       0.244178
tax      -0.010990
ptratio  -1.045921
black     0.008110
lstat    -0.492793